@font-face {
    font-family: IRANSans;
    src: url(../fonts/iranyekanwebregular.woff) format("woff"), url(../fonts/iranyekanwebregular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

* {
    font-family: IRANSans, "Times New Roman", Arial, sans-serif;
}
